<!-- Panel Trabajo -->
<div class="tab-pane fade" id="list-trabajo" role="tabpanel" aria-labelledby="list-trabajo-list">
    <div class="container pt-5 pb-5 pe-5">
        <form>
            <div class="mb-3">
                <label for="imgEmpresa" class="form-label">Imagen de Empresa</label>
                <input class="form-control" type="file" id="imgEmpresa">
                <div class="botones mt-3">
                    <button type="button" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
            <div class="mb-3">
                <label for="acercaDeTrabajo" class="form-label">Acerca de Empresa</label>
                <textarea class="form-control" id="acercaDeTrabajo" style="height: 100px"></textarea>
                <div class="botones mt-3">
                    <button type="button" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </form>
    </div>
</div>