<!-- Panel Habilidades -->
<div class="tab-pane fade" id="list-habilidades" role="tabpanel" aria-labelledby="list-habilidades-list">
    <div class="row">
        <div class="container col-6 pt-5 pe-5">
            <form>
                <div class="mb-3">
                    <label for="imgSkillUno" class="form-label">Imagen de Skill 1</label>
                    <input class="form-control" type="file" id="imgSkillUno">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="porcentajeSkillUno" class="form-label">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentajeSkillUno">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container col-6 pt-5 pe-5">
            <form>
                <div class="mb-3">
                    <label for="imgSkillDos" class="form-label">Imagen de Skill 2</label>
                    <input class="form-control" type="file" id="imgSkillDos">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="porcentajeSkillDos" class="form-label">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentajeSkillDos">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="container col-6 pt-5 pe-5">
            <form>
                <div class="mb-3">
                    <label for="imgSkillTres" class="form-label">Imagen de Skill 3</label>
                    <input class="form-control" type="file" id="imgSkillTres">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="porcentajeSkillTres" class="form-label">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentajeSkillTres">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container col-6 pt-5 pe-5">
            <form>
                <div class="mb-3">
                    <label for="imgSkillCuatro" class="form-label">Imagen de Skill 4</label>
                    <input class="form-control" type="file" id="imgSkillCuatro">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="porcentajeSkillCuatro" class="form-label">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentajeSkillCuatro">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="container col-6 pt-5 pb-5 pe-5">
            <form>
                <div class="mb-3">
                    <label for="imgSkillCinco" class="form-label">Imagen de Skill 5</label>
                    <input class="form-control" type="file" id="imgSkillCinco">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="porcentajeSkillCinco" class="form-label">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentajeSkillCinco">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container col-6 pt-5 pb-5 pe-5">
            <form>
                <div class="mb-3">
                    <label for="imgSkillSeis" class="form-label">Imagen de Skill 6</label>
                    <input class="form-control" type="file" id="imgSkillSeis">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="porcentajeSkillSeis" class="form-label">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentajeSkillSeis">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>