<!-- Seccion Formacion Académica -->
<section>
    <div class="container educacion ms-1 mt-2">
        <div class="row">
            <h3>Formación Académica</h3>
        </div>
        <div class="row p-2">
            <div class="col-2">
                <img src="assets/img/logo_uba.png" alt="UBA" class="img-fluid w-75">
            </div>
            <div class="col-10 descripcion">
                <h2>Arquitectura</h2>
                <h2>FADU - Universidad de Buenos Aires</h2>
                <h5>Carrera de grado. 2009 - 2021</h5>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-2">
                <img src="assets/img/argentina-programa-logo.png" alt="SeProgramar" class="img-fluid w-100">
            </div>
            <div class="col-10 descripcion">
                <h2>Argentina Programa - #SéProgramar</h2>
                <h2>CESSI - Ministerio de Desarrollo Productivo</h2>
                <h5>2022</h5>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-2">
                <img src="assets/img/codoacodo.PNG" alt="CaC 4.0" class="img-fluid w-100">
            </div>
            <div class="col-10 descripcion">
                <h2>Codo a Codo 4.0</h2>
                <h2>Gobierno de la Ciudad</h2>
                <h5>2022</h5>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-2">
                <img src="assets/img/edube-interactive.png" alt="Edube" class="img-fluid w-100">
            </div>
            <div class="col-10 descripcion">
                <h2>Python Essentials</h2>
                <h2>Edube Intective - Python Institute</h2>
                <h5>2022</h5>
            </div>
        </div>
    </div>
</section>