<!-- Panel Educación -->
<div class="tab-pane fade" id="list-educacion" role="tabpanel" aria-labelledby="list-educacion-list">
    <div class="row">
        <div class="container col-6 pt-5 pe-5">
            <form>
                <div class="mb-3">
                    <label for="imgFormacionUno" class="form-label">Imagen de Institución 1</label>
                    <input class="form-control" type="file" id="imgFormacionUno">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="acercaDeFormacionUno" class="form-label">Acerca del curso 1</label>
                    <textarea class="form-control" id="acercaDeFormacionUno" style="height: 100px"></textarea>
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container col-6 pt-5 pe-5">
            <form>
                <div class="mb-3">
                    <label for="imgFormacionDos" class="form-label">Imagen de Institución 2</label>
                    <input class="form-control" type="file" id="imgFormacionDos">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="acercaDeFormacionDos" class="form-label">Acerca del curso 2</label>
                    <textarea class="form-control" id="acercaDeFormacionDos" style="height: 100px"></textarea>
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="container col-6 pt-5 pb-5 pe-5">
            <form>
                <div class="mb-3">
                    <label for="imgFormacionTres" class="form-label">Imagen de Institución 3</label>
                    <input class="form-control" type="file" id="imgFormacionTres">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="acercaDeFormacionTres" class="form-label">Acerca del curso 3</label>
                    <textarea class="form-control" id="acercaDeFormacionTres" style="height: 100px"></textarea>
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="container col-6 pt-5 pb-5 pe-5">
            <form>
                <div class="mb-3">
                    <label for="imgFormacionCuatro" class="form-label">Imagen de Institución 4</label>
                    <input class="form-control" type="file" id="imgFormacionCuatro">
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="acercaDeFormacionCuatro" class="form-label">Acerca del curso 4</label>
                    <textarea class="form-control" id="acercaDeFormacionCuatro" style="height: 100px"></textarea>
                    <div class="botones mt-3">
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-danger">Eliminar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>