/* -- BODY -- */

body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(150, 150, 150) ;
}

/* -- SECCIONES -- */

section {
    width: 98%;
    margin: 1vh 2vh 1vh 2vh;
    padding: 1vh;
    border-radius: 15px;
    background-color: rgb(202, 202, 202);
}

h2 {
    font-size: 1.5vw;
}

h5 {
    font-size: 1vw;
}

.row {
    justify-content: center;
    align-items: center;
    margin: 0;
}

.col-2 {
    justify-content: center;
    align-items: center;
}
