<!-- Seccion Experiencia Laboral -->
<section class="mt-3">
    <div class="container experiencia ms-1 mt-2">
        <div class="row">
            <h3>Experiencia Laboral</h3>
        </div>
        <div class="row p-2">
            <div class="col-2">
                <img src="assets/img/CEMIC.png" alt="CEMIC" class="img-fluid w-100">
            </div>
            <div class="col-9 descripcion">
                <h2>CEMIC</h2>
                <h2>Base de Datos de Documentación</h2>
                <h5>2019 - Actualidad</h5>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-dark" title="Agregar Experiencia" routerLink="/nuevaexp" *ngIf="isLogged">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</section>