<!-- Seccion Habilidades -->
<section>
    <div class="container habilidades me-2 ms-1 mt-2">
        <div class="row">
            <div>
                <h3>Hard & Soft Skills</h3>
            </div>
            <div class="col-2">
                <button type="button" class="btn btn-dark" title="Agregar Habilidad" routerLink="/nuevahys" *ngIf="isLogged">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="container front mx-auto">
            <div class="row" *ngFor="let skill of skill">
                <div class="col">
                    <div class="card bg-transparent text-center border-0" style="width: 18rem;">
                        <img src="assets/img/logos_soft/html-logo.png" class="card-img-top img-fluid w-50 mx-auto" alt="HTML5">
                        <div class="card-body">
                            <h2>{{skill.nombre}}</h2>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">{{skill.porcentaje}}%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-dark" title="Editar Habilidad" routerLink="/edithys/{{skill.id}}" *ngIf="isLogged">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button type="button" class="btn btn-dark" title="Eliminar Habilidad" (click)="delete(skill.id)" *ngIf="isLogged">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-transparent text-center border-0" style="width: 18rem;">
                        <img src="assets/img/logos_soft/css-logo.png" class="card-img-top img-fluid w-50 mx-auto" alt="CSS3">
                        <div class="card-body">
                            <h2>CSS3</h2>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 80%">80%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-transparent text-center border-0" style="width: 18rem;">
                        <img src="assets/img/logos_soft/js-logo.png" class="card-img-top img-fluid w-50 mx-auto" alt="javascript">
                        <div class="card-body">
                            <h2>JAVASCRIPT</h2>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card bg-transparent text-center border-0" style="width: 18rem;">
                        <img src="assets/img/logos_soft/python-logo.png" alt="python" class="card-img-top img-fluid w-50 mx-auto">
                        <div class="card-body">
                            <h2>PYTHON</h2>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 65%">65%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-transparent text-center border-0" style="width: 18rem;">
                        <img src="assets/img/logos_soft/java-logo.png" alt="java" class="card-img-top img-fluid w-50 mx-auto">
                        <div class="card-body">
                            <h2>JAVA</h2>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 30%">30%</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card bg-transparent text-center border-0" style="width: 18rem;">
                        <img src="assets/img/logos_soft/mysql-logo.png" alt="mysql" class="card-img-top img-fluid w-50 mx-auto">
                        <div class="card-body">
                            <h2>MYSQL</h2>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
