<!-- Banner + Perfil -->
<div class="banner">
    <div class="container position-absolute bottom-0 start-0 pb-5 ps-5 intro">
        <div class="row">
            <div class="col-3">
                <img src="assets/img/CV.jpg" alt="Foto de Perfil" class="rounded-circle img-fluid perfil">
            </div>
            <div class="col-9 descripcion">
                <h1>Matias Centurion</h1>
                <h3 class="text-white">Full Stack Developer Jr.</h3>
                <h4>Arquitecto UBA en búsqueda de ampliar mis conocimientos en el campo de la programación para el desarrollo de software de modelado 3D. </h4>
            </div>
        </div>
    </div>
</div>
